{{ install_dir }}/logs/*log {
# create 0644 nginx nginx
daily
rotate 5
dateext
missingok
notifempty
compress
sharedscripts
postrotate
/bin/kill -USR1 `cat {{ install_dir }}/logs/nginx.pid 2>/dev/null` 2>/dev/null || true
endscript
}