server {
   listen 2212;
   proxy_pass {{ ip_fix }}12:22;
}

server {
    listen 2213;
    proxy_pass 10.7.0.13:22;
}

server {
   listen 2214;
   proxy_pass 10.7.0.14:22;
}

server {
    listen 2215;
    proxy_pass 10.7.0.15:22;
}

server {
    listen 2216;
    proxy_pass 10.7.0.16:22;
}

server {
   listen 2217;
   proxy_pass 10.7.0.17:22;
}

server {
   listen 2218;
   proxy_pass 10.7.0.18:22;
}

server {
   listen 2219;
   proxy_pass 10.7.0.19:22;
}

server {
    listen 2220;
    proxy_pass 10.7.0.20:22;
}

server {
   listen 2221;
   proxy_pass 10.7.0.21:22;
}

server {
   listen 2222;
   proxy_pass 10.7.0.22:22;
}

server {
   listen 2223;
   proxy_pass 10.7.0.23:22;
}

server {
   listen 2224;
   proxy_pass 10.7.0.24:22;
}

server {
   listen 2225;
   proxy_pass 10.7.0.25:22;
}

server {
   listen 33016;
   proxy_pass 10.7.0.16:3306;
}

server {
   listen 33017;
    proxy_pass 10.7.0.17:3306;
}

server {
    listen 33018;
    proxy_pass 10.7.0.18:3306;
}

server {
   listen 33019;
   proxy_pass 10.7.0.19:3306;
}

server {
   listen 33020;
    proxy_pass 10.7.0.20:3306;
}
server {
    listen 33021;
    proxy_pass 10.7.0.21:3306;
}
server {
    listen 33022;
    proxy_pass 10.7.0.22:3306;
}
server {
    listen 33023;
    proxy_pass 10.7.0.23:3306;
}

server {
    listen 33024;
    proxy_pass 10.7.0.24:3306;
}
